<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="UTF-8">
      <title>Александр Меркулов</title>
  </head>
  <body>
    <h2 style ="font-family: Times New Roman">Экономист-куратор Александр</h2>
    <img src="https://sun1-13.userapi.com/impf/c834100/v834100525/b0066/AQMQiMPbAsg.jpg?size=1436x2160&quality=96&sign=e3e0a48952ee09919fa5463cee634cc3&type=album"
           alt="Сашка" width="300" height="451"/>
    <h3 style ="font-family: Times New Roman">Привет! Я экономист по имени Александр, а это моя <a href="https://vk.com/mercool48">страничка</a>!</h3>
    <p style ="font-family: Times New Roman">Я работаю специалистом отдела сопровождения сельскохозяйственных предприятий.</p>
    <hr>
    <div>
        <h4 style ="font-family: Times New Roman"><mark>Мои должностные обязанности:</mark></h4>
        <p>
        – <em>Анализ</em> работы курируемого сельхозпредприятия с помощью внутренней системы мониторинга<br>
        – Составление <strong>оперативных</strong> сводок и регулярных отчетов для руководства Холдинга на основании данных проведенного мониторинга<br>
        – Оперативное информирование <del>заинтересованных</del> подразделений о выявленных отклонениях в производственном процессе<br>
        – <strong>Проверка</strong> документов и подтверждение объема выполненных работ<br>
        – <ins>Взаимодействие</ins> с руководителем сельхозпредприятия в процессе решения возникающих проблем
        </p>
    </div>
  </body>
</html>